body {
  background-color: #1d1d1d;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #39ff14;
}

/* Navigation Bar */
nav {
  background-color: #1d1d1d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #39ff14;
  color: black;
}

/* Settings Page */
.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.settings table {
  width: 100%;
  border-collapse: collapse;
}

.settings th, .settings td {
  border: 1px solid #39ff14;
  padding: 8px;
  text-align: left;
}

.settings th {
  background-color: #39ff14;
  color: black;
}

.settings .update-button {
  background-color: #39ff14;
  color: black;
  border: none;
  padding: 8px;
}

/* Historical Data Page */
.historical-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.historical-data table {
  width: 100%;
  border-collapse: collapse;
}