:root {
  --primary-color: #343a40;
  --secondary-color: #f8f9fa;
  --tertiary-color: #495057;
  --text-color: #f8f9fa;
}

/* Change background color for the whole app */
body {
  background-color: var(--primary-color);
}

/* Change color for headings */
h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}

/* Change color for table headers */
thead th {
  background-color: var(--tertiary-color);
  color: var(--text-color);
}

/* Change color for table rows */
tbody tr:nth-child(odd) {
  background-color: var(--secondary-color);
}

/* Change color for buttons */
.btn {
  background-color: var(--tertiary-color);
  color: var(--text-color);
}