<!DOCTYPE html>
<html>
<head>
    <title>Temperature and Humidity Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="dark-theme">
    {% include 'navbar.html' %}  
    <div class="data-container">
    <div class="data-box">
        <h1>Current Data</h1>
        <div>
            <label>Temperature (F): </label><span>{{ data.temperature }}</span>
        </div>
        <div>
            <label>Temperature Relay Status: </label><span>{{ data.temperature_relay_status }}</span>
        </div>
        <div>
            <label>Humidity (%): </label><span>{{ data.humidity }}</span>
        </div>
        <div>
            <label>Humidity Relay Status: </label><span>{{ data.humidity_relay_status }}</span>      
        </div>
        <div>
            <label>Last Egg Turn: </label><span>{{ data.last_relay_on }}</span>
        </div>
        <div>
            <label>Day in Egg Cycle: </label><span>{{ data.day_in_cycle }}</span>
        </div>
    </div>
</div>

</body>
</html>