<!DOCTYPE html>
<html>
<head>
    <title>Temperature and Humidity Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="dark-theme">
    {% include 'navbar.html' %}  
  <div class="data-container">
    <h1>Current Data</h1>
    <div class="data-box">
        <p>Temperature (F): {{ data.temperature }}</p>
        <p>Temperature Relay Status: {{ data.temperature_relay_status }}</p>    
    </div>
    <div class="data-box">
        <p>Humidity (%): {{ data.humidity }}</p>
        <p>Humidity Relay Status: {{ data.humidity_relay_status }}</p>
    </div>
    <div class="data-box">
        <p>Last Egg Turn: {{ data.last_relay_on }}</p>
        <p>Day in Egg Cycle: {{ data.day_in_cycle }}</p>
    </div>
</div> 
</div>
  
</body>
</html>