<!DOCTYPE html>
<html>
<head>
  <title>Temperature and Humidity Monitor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="dark-theme">
  <div class="current-data">
    <h1>Current Data</h1>
    <table>
        <tr>
            <th>Temperature (F)</th>
            <th>Humidity (%)</th>
            <th>Last Relay On Time</th>
        </tr>
        <tr>
            <td>{{ temperature }}</td>
            <td>{{ humidity }}</td>
            <td>{{ last_relay_on }}</td>
        </tr>
    </table>
</div>
    <h1>Last 10 Relay On Times</h1>
    <table>
        <tr>
            <th>Time</th>
            <th>Temperature (F)</th>
            <th>Humidity(%)</th>
            <th>Relay Status</th>
        </tr>
        {% for x in relay_data %}
            <tr>
                <td>{{ x.Time }}</td>
                <td>{{ x["Temperature(F)"] }}</td>
                <td>{{ x["Humidity(%)"] }}</td>
                <td>{{ x["Relay Status"] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
  <div class="data-table">
    <h1>Historical Data (Last 48 Hours)</h1>
    <table>
      <tr>
          <th>Time</th>
          <th>Temperature (F)</th>
          <th>Humidity(%)</th>
          <th>Relay Status</th>
      </tr>
      {% for data in historical_data %}
          <tr>
              <td>{{ data.Time }}</td>
              <td>{{ data['Temperature(F)'] }}</td>
              <td>{{ data['Humidity(%)'] }}</td>
              <td>{{ data['Relay Status'] }}</td>
          </tr>
      {% endfor %}
  </table>
  </div>
</body>
</html>
