<!DOCTYPE html>
<html>
<head>
    <title>Temperature and Humidity Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function updateValue(variable) {
                let newValue = null;
                if(variable == "start_date") {
                    if(confirm("Updating start date will also clear the historical data. Are you sure you want to continue?")) {
                        newValue = prompt("Enter the new value for " + variable);
                    }
                } else {
                    newValue = prompt("Enter the new value for " + variable);
                }
                if (newValue != null) {
                    $.ajax({
                        type: 'POST',
                        url: '/update_settings',
                        data: JSON.stringify({ variable: variable, value: newValue }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (response) {
                            alert('Successfully updated ' + variable + ' to ' + newValue);
                        }
                    });
                }
            }
        </script>
</head>
<body class="dashboard-theme">
    <header>
        <h1>Settings</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/settings">Settings</a>
        <a href="/historical_data">Historical Data</a>
    </nav>
    <main>
        <section class="card">
            <h2>Logging Interval</h2>
            <p>{{ int(data.log_interval/60) }} minutes</p>
            <button class="update-button" onclick="updateValue('log_interval')">Update</button>
        </section>
        <section class="card">
            <h2>Egg Rolling Interval</h2>
            <p>{{ int(data.relay_interval /60/60)  }} hours</p>
            <button class="update-button" onclick="updateValue('relay_interval')">Update</button>
        </section>
        <section class="card">
            <h2>Egg Roll Time</h2>
            <p>{{ int(data.roll_interval/60) }} minutes</p>
            <button class="update-button" onclick="updateValue('roll_interval')">Update</button>
        </section>
        <section class="card">
            <h2>Temperature Threshold</h2>
            <p>{{ data.temperature_threshold }}F</p>
            <button class="update-button" onclick="updateValue('temperature_threshold')">Update</button>
        </section>
        <section class="card">
            <h2>Humidity Threshold</h2>
            <p>{{ data.humidity_threshold }} %</p>
            <button class on="updateValue('humidity_threshold')">Update</button>
        </section>
        <section class="card">
            <h2>Start Day</h2>
            <p>{{ data.start_date }}</p>
            <button class="update-button" onclick="updateValue('start_date')">Update</button>
          </section>
        </div>
    </div>
</body>
</html>